################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyRangesImplementation/v16/.suo
/.vs
/MyRangesImplementation/.vs/MyRangesImplementation/v16
/MyRangesImplementation/Debug
/MyRangesImplementation/MyRangesImplementation/Debug/MyRanges.15382ABA.tlog
/MyRangesImplementation/MyRangesImplementation/Debug
/MyRangesImplementation/MyRangesImplementation/MyRangesImplementation.vcxproj.user
/MyRangesImplementation/MyRangesImplementation/MyRangesImplementation.vcxproj.filters
/MyRangesImplementation/MyRangesImplementation/MyRangesImplementation.vcxproj
